.statistics{
  background-color: white;
  text-align: center;
  padding: 30px;  
  color: black;
  margin-right: 300px;
  margin-left: 300px;
}

.searchBar{
  margin-left: 300px;
  margin-right: 300px;
}

.title{
  text-align: center;
  color: black;
  background-color: white;
  margin-left: 300px;
  margin-right: 300px;
}

.description{
  text-align: center;
  background-color: white;
  margin-left: 300px;
  margin-right: 300px;
}

.all{
  height: max-content;
  background-size: cover;
  margin-top: 100px;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

body{
  background-image: url(https://www.usnews.com/dims4/USNEWS/6b8fce5/2147483647/crop/2000x1333%2B0%2B0/resize/1200x1200%3E/quality/85/?url=https%3A%2F%2Fmedia.beam.usnews.com%2Fd4%2F30%2Fc480b10543ce8443f14e21287493%2F200313-pandemic-stock.jpg);
}